<div>
    <h1>Telemetry Data Analisys</h1>
    <p>Plot lap telemetry.</p>
    <p>I still didn't defined the workflow.</p>
    <p>But it may be something like this:</p>
    <p>-Select the folder with the data.</p>
    <p>-Introduce basic circuit information.</p>
    <p>-Select a driver.</p>
    <p>-Select the lap/s of interest.</p>
    <p>There will be 3 buttons.</p>
    <p>-Plot the current saved data.</p>
    <p>-Save driver and laps.(to compare later)</p>
    <p>-Clear saved data.</p>
    <div>
        <label for="folder">Select folder with data.</label>
        <select name="folder" hx-get="/telemetry/folder" hx-target="#basic-info-w-driver" required>
            <option value="" disabled selected hidden>Select a folder...</option>
            {% for folder in folders %}
            <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="basic-info-w-driver"></div>
    <div id="laps-select"></div>
</div>
<div id="plot-area"></div>