{% extends "./home.html" %}
{% block content %}
<h1 class="main-text">Telemetry Data Analisys</h1>
<p class="main-text">Plot lap telemetry.<br>
    I still didn't defined the workflow.<br>
    But it may be something like this:<br>
    -Write the name of the folder with the data.<br>
    -Introduce basic circuit information.<br>
    -Select a driver.<br>
    -Select the lap/s of interest.<br>
    There will be 3 buttons.
    -Plot the current saved data.<br>
    -Save driver and laps.(to compare later)<br>
    -Clear saved data.<br>
</p>
{% endblock %}