<!--div class="download-container"-->
<div class="col-md-4">
    <h5 class="fw-normal text-muted mb-3">Download Data</h5>
    <small>Get new data from OpenF1.<br>
    - Select a year.<br>
    - Select an available Grand Prix.<br>
    - Choose one or more drivers.<br>
    - Check the session/s and the type of data.<br>
    Note: the data is dowloaded from <a href="">OpenF1</a> as JSON files.<br>
    If there is an error while downloading, there is a chance that<br>
    the data may not be available.</small>

    <div class="mt-3">
        <select id="year" class="form-select" name="year" hx-get="/download/gp-select" hx-target="#gp-select" required>
            <option value="" disabled selected hidden>Select a year.</option>
            <!-- Get the list of years from python/fastapi -->
             {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
             {% endfor %}
        </select>
    </div>
    <div id="gp-select" class="mt-3">
        {% if gps %}{% endif %}
    </div>
    <div id="driver-select" class="mt-3">
        {% if drivers %}{% endif %}
    </div>
    <!-- Condition the other elements to the change of year -->
    <!-- Load the using htmx -->
</div>
<!--div class="download-container" id="download-status"></div-->
<div class="col-md-8" id="download-status"></div>
