<!-- Maybe change this for a form -->
 <form action="" onsubmit="sendData(event)">
    <div class="dropdown">
        <label for="drivers">Select one or more drivers.</label>
        <select id="drivers" name="driver" required><!-- Multiple or add a tag to select ALL -->
            <option value="0">ALL</option>
            <!-- Get a list of all available drivers, plus maybe an extra tag for ALL -->
            {% for key, value in drivers.items() %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="checkbox-group">
        {% for key, value in session_info.items() %}
        <input type="checkbox" name="session" value="{{ value }}">{{ key }}
        {% endfor %}
        <input type="checkbox" name="data" value="laps">laps
        <input type="checkbox" name="data" value="drivers">drivers
        <input type="checkbox" name="data" value="car_data">car_data
        <input type="checkbox" name="data" value="location">location
        <input type="checkbox" name="data" value="stints">stints
    </div>
    <!-- Include GP meeting key -->
    <button class="submit-button" >Download data</button>
</form>
<script>
    var ws = new WebSocket("ws://localhost:8000/download/ws");
    ws.onmessage = function(event){
        var messages = document.getElementById('download-status')
        var message = document.createElement('p')
        var content = document.createTextNode(event.data)
        message.appendChild(content)
        messages.appendChild(message)
    };
    function sendData(event){
        var year_select = document.getElementById('year')
        var gp_select = document.getElementById('grand-prix')
        var driver_select = document.getElementById('drivers')
        var session_boxes = document.querySelectorAll('input[name="session"]')
        var data_boxes = document.querySelectorAll('input[name="data"]')
        var selected_sessions = []
        var selected_data = []
        session_boxes.forEach((checkbox) => {
            if (checkbox.checked){
                selected_sessions.push(checkbox.value)
            }
        });
        data_boxes.forEach((checkbox) => {
            if (checkbox.checked){
                selected_data.push(checkbox.value)
            }
        });
        data = {
            year: year_select.value,
            gp: gp_select.value,
            driver: driver_select.value,
            sessions: selected_sessions,
            data_field: selected_data
        }
        if (selected_data.length > 0 && selected_sessions.length > 0){
            ws.send(JSON.stringify(data))
        }
        
        event.preventDefault()
    }
</script>