/*
Home main styles
*/
body 
{ 
    margin: 0; 
    font-family: Arial, sans-serif; 
    display: flex; 
    background-color: #ecf0f1;
} 
.sidebar 
{ 
    width: 200px; 
    background-color: #2c3e50; 
    color: white; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
} 
.sidebar a 
{ 
    padding: 15px; 
    text-decoration: none; 
    color: white; 
    display: block; 
} 
.sidebar a:hover 
{ 
    background-color: #34495e; 
} 
.sidebar a.active 
{ 
    background-color: #3498db; 
} 
.main-content 
{ 
    flex-grow: 1; 
    /*background-color: #ecf0f1; */
    padding: 20px 50px; 
} 
.main-text 
{ 
    color: #7f8c8d; 
} 
.blurred-button 
{ 
    padding: 10px 20px; 
    background-color: #3498db; 
    color: white; 
    border: none; 
    cursor: pointer; 
} 
.hide-button 
{ 
    padding: 10px; 
    background-color: #e74c3c; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin: 10px; 
} 
.show-button 
{ 
    display: none; 
    padding: 10px; 
    background-color: #3498db; 
    color: white; 
    border: none; 
    cursor: pointer; 
    position: absolute; 
    left: 0; 
    top: 10px; 
}
/*
Download styles
*/
.download-container
{
    width: 50%;
    padding: 20px
}
.dropdown
{
    margin-bottom: 20px;
}
select
{
    background-color: #333;
    color: #FFF;
    border: 1px solid #555;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.submit-button
{
    text-align: center;
}
.submit-button button
{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.submit-button button:hover
{
    background-color: #0056b3;
}