<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>F1 Data Analisys</title>
        <link rel="stylesheet" type="text/css" href="../static/css/new_style.css">
        <script src="../static/js/funcs.js"></script>
    </head>
    <body>
        <div class="sidebar" id="sidebar">
            <button class="hide-button" onclick="toggleSidebar()">Hide</button><!-- change to an image -->
            <a id="home" href="/home" class="active" hx-get="/home" hx-trigger="click" hx-target="#main_content" hx-swap="innerHTML">Home</a>
            <a id="download" href="/download" hx-get="/download" hx-trigger="click" hx-target="#main_content" hx-swap="innerHTML">Download Data</a>
            <a id="laps" href="/laps" hx-get="/laps" hx-trigger="click" hx-target="#main_content" hx-swap="innerHTML">Lap Analisys</a>
            <a id="Telemetry" href="/telemetry" hx-get="/telemetry" hx-trigger="click" hx-target="#main_content" hx-swap="innerHTML">Telemetry</a>
        </div>
        <button class="show-button" id="show-button" onclick="toggleSidebar()">></button><!-- Change to an image -->
        <div class="main-content" id="main_content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>