<div id="laps-pills">
    {% for session, stint in stints.items() %}
        <h3>{{ session }}</h3>
        {% for compound, laps in stint.items() %}
            <label>{{ compound }}</label>
            <div>
                {% for index, lap in laps.items() %}
                <button class="pill-normal">{{ lap }}</button>
                <input type="hidden" value="{{ lap }}">
                <input type="hidden" value="{{ index }}">
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    <!-- Send data to plot if any -->
</div>
<input type="submit" value="Plot lap times" class="submit-button" hx-post="/laps/plot-data" hx-trigger="click" hx-include="[name='lap_times']" hx-target="#plot-area">
<input type="submit" value="Plot telemetry" class="submit-button" hx-post="/laps/telemetry" hx-trigger="click" hx-include="[name='lap_index']" hx-target="#plot-area">
<input type="submit" value="Save laps" class="submit-button" id="save-laps">
<input type="submit" value="Compare laps" class="submit-button" id="compare-laps">
<input type="submit" value="Clear saved laps" class="submit-button" id="clear-laps">
<script src="../static/js/laps_db.js"></script>
<script>
    function getTarget(e){
        return e.target;
    }
    function changeColor(e){
        var target = getTarget(e);
        // toggle class name
        // get actual class name of target
        // change to the other
        actual_class = target.className;
        
        if (actual_class == "pill-normal" || actual_class == "pill-selected"){
            hidden_lap = target.nextElementSibling
            hidden_ind = hidden_lap.nextElementSibling
            // add a hidden form input with value
            if (actual_class == 'pill-normal'){
                target.className = 'pill-selected';
                hidden_lap.setAttribute("name", "lap_times")
                hidden_ind.setAttribute("name", "lap_index")
            }
            else{
                target.className = 'pill-normal';
                hidden_lap.removeAttribute("name")
                hidden_ind.removeAttribute("name")
            }
            e.preventDefault();
        }
    }
    var pills_parent = document.getElementById("laps-pills")
    pills_parent.addEventListener('click', function(e){
        changeColor(e);
    }, false);
</script>