<div class="download-container">
    <h1 class="main-text">Laps Data Analisys</h1>
    <p class="main-text">Load downloaded data to perform some analisys.<br>
        -Write the name of the folder containing the data.<br>
        -Select a driver.<br>
        -Select one or more lap times.<br>
        -Lap times from different sessions can be selected.<br>
        -Times are going to be plotted as points with a linear regression. 
    </p>
    <form>
        <label for="folder">Write folder name:</label>
        <select name="folder" hx-get="/laps/folder" hx-target="#driver-select" required>
            <option value="" disabled selected hidden>Select a folder...</option>
            {% for folder in folders %}
            <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
        </select>
        <div id="driver-select"></div>
        <div id="lap-select"></div>
    </form>
</div>
<div id="plot-area"></div>

