<!--label for="driver">Select a driver</label-->
<h6 class="btn btn-toggle d-inline-flex align-items-center rounded border-0" style="cursor: auto;">Driver</h6>
<div>
    <select class="form-select" id="driver" name="driver" hx-get="/laps/laps-select" hx-target="#lap-select" hx-include="[name='folder']" required>
        <option value="" disabled selected hidden>Select a driver</option>
        {% for key, value in drivers.items() %}
        <option value="{{ value }}">{{ key }}</option>
        {% endfor %}
    </select>
</div>

